# Composer
picom &
# Keyboard layout
setxkbmap es &
# Network
nm-applet &
mullvad-vpn &
# Bluetooth
blueberry-tray &
rfkill block bluetooth &
# Volume and Battery
volctl &
cbatticon -u 5 &
# Automount devives
udiskie -t &
# Remove tearing
xrandr --output eDP --set TearFree on &
# Wallpaper
feh --bg-fill Images/wallpaper.jpg &
#Slimbook
slimbookbattery &
slimbookamdcontroller &
#Keyring daemon
eval $(/usr/bin/gnome-keyring-daemon --start --components=pkcs11,secrets,ssh) &
export SSH_AUTH_SOCK &
